@model IEnumerable<Estacionamento_FrontEnd.Estacionamento.Core.Models.MovimentacaoViewModel>

@{
    ViewData["Title"] = "Registros de Movimentações";
}
<h1>@ViewData["Title"]</h1>
<hr />

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">
        Nenhum registro encontrado no momento.
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="pull-left">
                    <a asp-action="RegistrarEntrada" class="btn btn-primary">
                        <span title="Registro" class="fas fa-plus"></span> Gerar um registro
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.PlacaVeiculo)</th>
                    <th>@Html.DisplayNameFor(model => model.HoraEntrada)</th>
                    <th>@Html.DisplayNameFor(model => model.HoraSaida)</th>
                    <th>@Html.DisplayNameFor(model => model.TipoVeiculo)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.PlacaVeiculo)</td>
                        <td>@Html.DisplayFor(modelItem => item.HoraEntrada)</td>
                        <td>@Html.DisplayFor(modelItem => item.HoraSaida)</td>
                        <td>@Html.DisplayFor(modelItem => item.TipoVeiculo)</td>
                        <td>
                            <a asp-action="RegistrarSaida" asp-route-id="@item.Id" asp-route-placa="@item.PlacaVeiculo" title="Deletar" class="btn btn-danger btn-sm">
                                <span class="fas fa-trash-alt"></span> Deletar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
